USE [master]
GO
/****** Object:  Database [WebsiteToiec]    Script Date: 5/4/2018 11:06:28 PM ******/
CREATE DATABASE [WebsiteToiec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebsiteToiec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\WebsiteToiec.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebsiteToiec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\WebsiteToiec_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebsiteToiec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebsiteToiec]
GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [varchar](max) NULL,
	[TYPE] [int] NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LISTENNING]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LISTENNING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PAR_ID] [int] NOT NULL,
	[LISTEN_URL] [varchar](max) NULL,
	[NAME] [nvarchar](50) NULL,
	[PICTURE_URL] [varchar](max) NULL,
	[CORRECT_ANSWER] [int] NULL,
	[LEVEL] [int] NULL,
	[TYPE] [int] NULL,
 CONSTRAINT [PK_LISTENNING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[SUMMARY] [nvarchar](500) NULL,
	[CONTENT] [nvarchar](max) NULL,
 CONSTRAINT [PK_NEWS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PART](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIT_ID] [int] NOT NULL,
	[CONTENT] [varchar](50) NULL,
 CONSTRAINT [PK_PART] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PICTURE]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PICTURE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [varchar](max) NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_PICTURE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REA_ID] [int] NOT NULL,
	[LIS_ID] [int] NOT NULL,
	[CONTENT] [varchar](200) NULL,
	[ANSWER_A] [varchar](200) NULL,
	[ANSWER_B] [varchar](200) NULL,
	[ANSWER_C] [varchar](200) NULL,
	[ANSWER_D] [varchar](200) NULL,
	[CORRECT_ANSWER] [int] NULL,
 CONSTRAINT [PK_QUESTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[READING]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[READING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PAR_ID] [int] NOT NULL,
	[CONTENT] [varchar](max) NULL,
	[LEVEL] [int] NULL,
	[TYPE] [int] NULL,
 CONSTRAINT [PK_READING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESULT]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SCORE] [float] NULL,
	[TEST_DAY] [datetime] NULL,
 CONSTRAINT [PK_RESULT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEST]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LIS_ID] [int] NULL,
	[RED_ID] [int] NULL,
 CONSTRAINT [PK_TEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THEME]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEME](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT] [nvarchar](50) NULL,
 CONSTRAINT [PK_THEME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TITLE]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TITLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT] [varchar](200) NULL,
 CONSTRAINT [PK_TITLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROL_ID] [int] NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[PHONE_NUMBER] [varchar](20) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[EMAIL] [varchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VOCABULARY]    Script Date: 5/4/2018 11:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOCABULARY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PIC_ID] [nchar](10) NULL,
	[THE_ID] [int] NOT NULL,
	[WORD] [varchar](50) NULL,
	[NOUN] [nvarchar](200) NULL,
	[VERB] [nvarchar](200) NULL,
	[ADJECTIVE] [nvarchar](200) NULL,
	[ADVERB] [nvarchar](200) NULL,
	[SYNONYM] [nvarchar](200) NULL,
 CONSTRAINT [PK_VOCABULARY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[LISTENNING]  WITH CHECK ADD  CONSTRAINT [FK_LISTENNI_RELATIONS_PART] FOREIGN KEY([PAR_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[LISTENNING] CHECK CONSTRAINT [FK_LISTENNI_RELATIONS_PART]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [FK_PART_RELATIONS_TITLE] FOREIGN KEY([TIT_ID])
REFERENCES [dbo].[TITLE] ([ID])
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [FK_PART_RELATIONS_TITLE]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTION_RELATIONS_LISTENNI] FOREIGN KEY([LIS_ID])
REFERENCES [dbo].[LISTENNING] ([ID])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTION_RELATIONS_LISTENNI]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTION_RELATIONS_READING] FOREIGN KEY([REA_ID])
REFERENCES [dbo].[READING] ([ID])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTION_RELATIONS_READING]
GO
ALTER TABLE [dbo].[READING]  WITH CHECK ADD  CONSTRAINT [FK_READING_RELATIONS_PART] FOREIGN KEY([PAR_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[READING] CHECK CONSTRAINT [FK_READING_RELATIONS_PART]
GO
ALTER TABLE [dbo].[TEST]  WITH CHECK ADD  CONSTRAINT [FK_TEST_LISTENNING] FOREIGN KEY([LIS_ID])
REFERENCES [dbo].[LISTENNING] ([ID])
GO
ALTER TABLE [dbo].[TEST] CHECK CONSTRAINT [FK_TEST_LISTENNING]
GO
ALTER TABLE [dbo].[TEST]  WITH CHECK ADD  CONSTRAINT [FK_TEST_READING] FOREIGN KEY([RED_ID])
REFERENCES [dbo].[READING] ([ID])
GO
ALTER TABLE [dbo].[TEST] CHECK CONSTRAINT [FK_TEST_READING]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_RELATIONS_ROLE] FOREIGN KEY([ROL_ID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_RELATIONS_ROLE]
GO
ALTER TABLE [dbo].[VOCABULARY]  WITH CHECK ADD  CONSTRAINT [FK_VOCABULA_RELATIONS_THEME] FOREIGN KEY([THE_ID])
REFERENCES [dbo].[THEME] ([ID])
GO
ALTER TABLE [dbo].[VOCABULARY] CHECK CONSTRAINT [FK_VOCABULA_RELATIONS_THEME]
GO
ALTER TABLE [dbo].[VOCABULARY]  WITH CHECK ADD  CONSTRAINT [FK_VOCABULARY_PICTURE] FOREIGN KEY([ID])
REFERENCES [dbo].[PICTURE] ([ID])
GO
ALTER TABLE [dbo].[VOCABULARY] CHECK CONSTRAINT [FK_VOCABULARY_PICTURE]
GO
USE [master]
GO
