
@{
    ViewBag.Title = "Index";
}

<!-- Home -->

<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(images/courses_background.jpg)"></div>
    </div>
    <div class="home_content">
        <h1>HỌC PHẦN</h1>
    </div>
</div>

<!-- Popular -->

<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Bài học phổ biến</h1>
                </div>
            </div>
        </div>

        <div class="row course_boxes">

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/part1.jpg" >
                    <div class="card-body text-center">
                        <div class="card-title"><a href="@Url.Action("Part1","Learn",new {page=1})">Hình ảnh	</a></div>
                        <div class="card-text">Tương ứng với mỗi bức ảnh, bạn sẽ được nghe 04 câu mô tả về nó. Nhiệm vụ của bạn là phải chọn câu mô tả đúng nhất cho bức ảnh.</div>
                    </div>

                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/part2.jpg" >
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Hỏi đáp</a></div>
                        <div class="card-text">
                            Bạn sẽ nghe một câu hỏi (hoặc câu nói) và 03 lựa chọn trả lời. Nhiệm vụ của bạn là phải chọn ra câu trả lời đúng nhất trong ba đáp án A-B-C.
                        </div>
                    </div>

                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/part3.jpg" >
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Hội thoại ngắn</a></div>
                        <div class="card-text">Bạn sẽ nghe 10 đoạn hội thoại ngắn. Mỗi đoạn có 03 câu hỏi. Nhiệm vụ của bạn là chọn ra câu trả lời đúng nhất trong 04 đáp án của đề thi.</div>
                    </div>

                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/part4.jpg">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Đoạn thông tin ngắn</a></div>
                        <div class="card-text">Bạn sẽ nghe 10 đoạn thông tin ngắn. Mỗi đoạn có 03 câu hỏi. Nhiệm vụ của bạn là chọn ra câu trả lời đúng nhất trong số 04 đáp án được cung cấp.</div>
                    </div>

                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/part5.jpg" >
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Hoàn thành câu</a></div>
                        <div class="card-text">Bạn cần phải chọn từ đúng nhất để hoàn thành câu.</div>
                    </div>

                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/part6.jpg" >
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Hoàn thành đoạn văn</a></div>
                        <div class="card-text">Mỗi đoạn văn có 03 chỗ trống. Bạn phải điền từ thích hợp còn thiếu vào mỗi chỗ trống trong đoạn văn đó.</div>
                    </div>

                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/part7.jpg" >
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Đoạn văn</a></div>
                        <div class="card-text">có từ 7-10 đoạn văn đơn. Hết mỗi đoạn văn sẽ có 2-5 câu hỏi...</div>
                    </div>

                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/course_8.jpg" >
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Tài liệu</a></div>
                        <div class="card-text">Đoạn văn,đoạn clip, sách , báo,....</div>
                    </div>

                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="images/course_9.jpg">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Từ vựng</a></div>
                        <div class="card-text">Từ vựng từ trái nghĩa - đồng nghĩa,.. </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


